[Unit]
Description=Starting the dedicated master server for DST

[Service]
Type=simple
ExecStart=/usr/libexec/dst/start master
Restart=on-failure

[Install]
WantedBy=multi-user.target
